<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/homePage.css">
	<title>Cook.bk</title>
</head>
<body background="http://cdn.shopify.com/s/files/1/0395/7873/products/NHBBx376.jpg?v=1426189112">
	<h1 id="appName">Cook.bk</h1>
	<h2 id="soundBite">Add Your Personal Flavor</h2>
	<p id="appBlurb">Cook.bk is your personal blank canvas. Simply search for recipes you want to make and leave comments for yourself whenever you make tweaks.</p>
	<div>
		<!-- Button trigger modal -->
		<button type="button" id="homeModal" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="display: block; margin: 50px auto;">
		  Member Sign In
		</button>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        	<h4 class="modal-title" id="myModalLabel">Login</h4>
	        </div>
	      	<div class="modal-body">
	        	<form method="POST" action="/login">
				  <div class="form-group">
				    <label for="exampleInputEmail1">Email address</label>
				    <input type="email" class="form-control" name="user[email]" id="exampleInputEmail1" placeholder="Enter email">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Password</label>
				    <input type="password" class="form-control" name="user[password]" id="exampleInputPassword1" placeholder="Password">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
	        </div>
	    	</div>
		</div>
	</div>
	<div>
		<!-- Button trigger modal -->
		<button type="button" id="homeModal" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2" style="display: block; margin: 15px auto;">
		  Sign Up
		</button>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        	<h4 class="modal-title" id="myModalLabel">Signup</h4>
	        </div>
	      	<div class="modal-body">
	        	<form method="POST" action="/signup">
				  <div class="form-group">
				    <label for="exampleInputEmail1">Email address</label>
				    <input type="email" class="form-control" name="user[email]" id="exampleInputEmail1" placeholder="Enter email">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Password</label>
				    <input type="password" class="form-control" name="user[password]" id="exampleInputPassword1" placeholder="Password">
				  </div>
				  <div>
				  	<label for="exampleInputPassword1">Confirm Password</label>
				  	<input type="password" class="form-control" name="user[password_confirmation]" id=" exampleInputPassword1" placeholder="Retype Password">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
	        </div>
	    	</div>
		</div>
	</div>
</body>
</html>