#login-form, #signup-form {
	text-align: center;
	margin: 0px auto;
	max-width: 300px;
}

.why-login, .signup-link {
	text-align: center;
	margin: 0px auto;
	font-size: 20px;
}

.login-button {
	background: rgb(166, 111, 166);
	color: black;
}

.signup-button {
	background: rgb(190, 95, 124);
	color: black;
}

.page-message {
	font-size: 40px;
	text-align: center;
	padding: 10px;
}

.password-notice {
	text-align: center;
	padding: 25px;
}

.recipe-result, .fave-result {
	border: 3px solid rgb(255, 147, 139);
	/*max-width: 150px;*/
	/*max-height: 150px;*/
	width: 200px; 
	height: 250px;
	display: inline-block;
	padding: 10px;
	margin: 10px 25px 10px 25px;
	border-radius: 20px;
	
	/*make background color lighter*/
	/*background: rgb(255, 194, 139);*/
}

.fave-result {
	border: 3px solid rgb(149, 175, 251);
}

.recipe-row {
	position: relative;
	margin: 10px;
	text-align: center;
}

.faves-row {
	position: relative;
	left: 150px;
	margin: 10px 0px 10px 0px;
}

.search-form {
	margin: 0px auto;
	text-align: center;
}

.recipe-thumbnail-image {
	margin: 5px;
	cursor: pointer;
}

.recipe-name {
	cursor: pointer;
}

.submit-search {
	margin: 10px;
}

body {
	background: rgb(138, 236, 250);
}

#show-faves {
	display: inline-block;
}

.fave-button {
	background: rgb(255, 147, 139);
	background: rgb(255, 186, 181);
	background: rgb(255, 218, 139);
}

.view-button {
	/*width: 40px;*/
}

#recipe-holder {
	border: 5px solid rgb(255, 147, 139);
	max-width: 1250px;
	border-radius: 20px;
	background: rgba(255, 240, 159, .8);
	margin: 0px auto;
}

.name-of-recipe {
	text-align: center;
	font-size: 40px;
	/*position: relative;
	left: 500px;*/

}

.recipe-picture{
	max-width: 374px;
	border: 7px solid white;
	margin: 20px auto;

}

.recipe-ingredients {
	font-size: 20px;
	position: relative;
	left: 70px;
}

.recipe-time {
	font-size: 15px;
}

.ingredients {
	font-size: 25px;
	position: relative;
	left: 40px;
}

.notes {
	font-size: 25px;
	position: relative;
	left: 600px;
}

.titles {
	display: inline-block;
}
.recipe-source {
	text-align: center;
	font-size: 25px;
}

.delete-fave {
	margin: 0px auto;
}

